$widget-border-width: 4px !default;
$widget-header-color: #393a73 !default;
$widget-background: #f8f8f8 !default;
$widget-header-background: #f0f0f0 !default;
$rating-star-color: #ffb400 !default;
$reviews-color: #666 !default;
$font-size-base: 1rem !default;
$widget-padding: $font-size-base / 2 !default;
